@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Arial', sans-serif;
  background-color: #10151A;
  color: #E7E9EC;
  margin: 0;
  padding: 0;
}
button{
   background-color: #F2C14E;
  margin-right: 0px;

}
h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
html {
  scroll-behavior: smooth;
}